/****************************************************************************************************************
  Author        Roger Mähler
  Revert        [% project %]:[% change %] to [% engine %]
  Description   [% change %]
  Date          [% IF crdate ] [% crdate %] [% END %]
*****************************************************************************************************************/

Begin;

-- XXX Add DDLs here.

End;
